:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-white-dark: #CACACA;
  --basic-grey-dark: #EBEBEB;
  --basic-grey: #EEEEEE;
  --basic-grey-light: #F2F2F2;
  --basic-extra-light: #E5E5E5;
  --basic-grey-extra-light: #BDBBBC;
  --basic-grey-extra-dark: #A9A9A9;
  --basic-blue-bright: #23A9E1;
  --basic-blue-light: #81B3D2;
  --basic-blue: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-neutral-dark: #666666;
  --basic-logo: #231F20;
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33;
  --basic-brown-bright: #766458;
  --basic-dark: #333333;
  --basic-grey-middle: #ABABAB;
  --basic-shadow: #d9d9d9;
  --basic-disabled: #6A6A6A;

}

body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-grey-light);
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

html{
  height: 100%;
}

.page-body{
  min-height: 100%;
  display: flex;
}

.page-container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-shadow);
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.button {
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 21px;
  background-color: var(--basic-blue-light);
  border: none;
  padding: 3px 16px;
  margin-right: 6px;
}

.button:hover,
.button:focus{
  background-color: var(--basic-blue);
}

.button:active{
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

.welcome-page {
  background: url("../img/intro-welcome.svg") no-repeat center,
  url("../img/Shape.svg") no-repeat 0 100%,
  url("../img/main-background.jpg") no-repeat;
  background-size:456px 350px, auto, auto;
  width: 1200px;
  min-height: 509px;
  background-color: var(--basic-white);
}

.header-logo{
  width: 138px;
  height: 70px;
}

.site-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding-left: 72px;
  padding-right: 72px;
  position: relative;
  min-height: 56px;
}

.site-navigation li{
  flex-grow: 1;
  width: 100px;
}

.site-navigation li:nth-child(3){
  margin-left: 147px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4){
  text-align: right;
}

.site-navigation a{
  color: var(--basic-black);
  font-weight: 700;
  display: inline-block;
}

.site-navigation a:hover{
  color: var(--basic-blue-light);
}

.site-navigation a:focus{
  color: var(--basic-brown-light);
}

.menu-current{
  font-weight: 700;
  color: var(--basic-brown-light);
}

.features-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
 }

.real-features{
  grid-column: 1/-1;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 330px;
}

.position-for-picture{
  position: relative;
}

.real-features h4 {
  font-size: 21px;
  line-height: 21px;
  margin-top: 160px;
  margin-bottom: 25px;
 }

 .features-picture-first{
   background: url("../img/icon-house.svg") no-repeat;
   position: absolute;
   top: 60px;
   left: 162px;
   width: 75px;
   height: 72px;
 }

 .features-picture-second{
   background: url("../img/icon-burger.svg") no-repeat;
   position: absolute;
   top: 60px;
   left: 162px;
   width: 75px;
   height: 70px;
 }

 .features-picture-third{
   background: url("../img/icon-gift.svg") no-repeat;
   position: absolute;
   top: 55px;
   left: 168px;
   width: 64px;
   height: 77px;
 }

.real-features p{
  margin: 0;
  margin-bottom: 82
}

 .description {
   font-size: 21px;
   font-weight: 700;
   line-height: 26px;
   text-align: center;
   margin-top: 43px;
   margin-bottom: 42px;
}

.five-reasons{
  text-align: center;
  line-height: 26px;
  margin-bottom: 51px;
  margin-top: 17px;
}

 .feature-item{
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  text-align: center;
  margin: 0;
  padding: 0;
 }

 .feature-item h3{
  font-size: 21px;
 }

.feature-item img{
  grid-column: span 2;
  min-height: 256px;
}

.feature-text{
  margin: 0;
  padding: 0;
  text-align: center;
}

.feature-text p{
  padding: 0;
  margin: 0;
  margin-top: 28px;
  margin-bottom: 50px;
  margin-left: 45px;
  margin-right: 45px;
}

.feature-text h3{
  margin: 0;
  margin-top: 50px;
}

.number-design{
  display: inline-block;
  margin-bottom: 23px;
}

.other-features{
  color: var(--basic-dark);
  background-color: var(--basic-grey);
  text-align: center;
}

.other-features h3{
  color: var(--basic-black);
  font-size: 21px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 25px;
}

.other-features p{
  margin: 0;
  margin-bottom: 54px;
}

.form-description-highlight {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px;
  display: inline-block;
}

.interested-offer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  margin-bottom: 51px;
  text-align: center;
  line-height: 24px;
}

.form-introduction{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown-light);
  width: 100%;
  padding: 30px 125px;
  text-transform: uppercase;
  border: none;
}

.form-introduction:hover,
.form-introduction:focus{
  background-color: var(--basic-brown);
}

.form-introduction:active{
  background-color: var(--basic-brown-dark);
  opacity: 0.3;
}

.form-finder{
  font-family: inherit;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  width: 568px;
  margin-left: auto;
  margin-right: auto;
}

.form-look{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 7px 15px var(--basic-shadow);
}

.date-type{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.date-type:first-child{
  margin-top: 55px;
}

.input-look{
  margin: 0;
  padding-top: 4px;
  padding-right: 11px;
  padding-bottom: 4px;
  padding-left: 11px;
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  border: 2px solid var(--basic-grey-light);
  background-color: var(--basic-grey-light);
}

.input-look:hover{
  background-color: var(--basic-grey-dark);
  border: 2px solid var(--basic-grey-dark);
}

.input-look:focus{
  background-color: var(--basic-white);
  border: 2px solid var(--basic-extra-light);
}

.date-type .input-look{
  width: 320px;
}

.date-type label{
  display: inline-block;
  margin-right: 22px;
  font-weight: 700;
  line-height: 26px;
}

.button-calendar{
  position: absolute;
  left: 800px;
  width: 21px;
  height: 23px;
  background-image: url("../img/calendar-gray.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
}

.button-calendar:hover,
.button-calendar:focus{
  background-image: url("../img/calendar.svg");
}

.button-calendar:active{
  background-image: url("../img/calendar-blue.svg");
}

.adults-only,
.children-only{
  display: flex;
  align-items: center;
}

.adults-only{
  margin-right: 53px;
}

.button-background{
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
  background-color: transparent;
}

.button-less{
  left: 0;
  background-image: url("../img/sign-minus.svg");
}

.button-less:hover,
.button-less:focus{
  background-image: url("../img/sign-minus-black.svg");
}

.button-less:active{
  background-image: url("../img/sign-minus-blue.svg");
}

.button-more{
  right: 0;
  background-image: url("../img/sign-plus.svg");
}

.button-more:hover,
.button-more:focus{
  background-image: url("../img/sign-plus-black.svg");
}

.button-more:active{
  background-image: url("../img/sign-plus-blue.svg");
}

.adults-children{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.adults-only label{
  font-weight: 700;
  display: inline-block;
  margin-right: 40px;
}

.children-only label{
  font-weight: 700;
  display: inline-block;
  margin-right: 28px;
}

.adults-children .input-look{
  width: 88px;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}

.adults-children .input-look::-webkit-inner-spin-button,
.adults-children .input-look::-webkit-outer-spin-button{
  -webkit-appearance: none;
  appearance: none;
}

.position-figures{
  position: relative;
}

.find-button{
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  margin: 55px;
  margin-top: 41px;
  padding: 16px 181px;
}

.main-footer {
  font-weight: 700;
  font-size: 21px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  padding-left: 73px;
  padding-right: 73px;
}

.footer-tag{
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.footer-phone{
  display: inline-block;
  padding-top: 9px;
}

.footer-social{
  margin: 0;
  justify-self: center;
  margin-top: 36px;
  margin-bottom: 36px;
}

.footer-social ul{
  list-style: none;
  margin: 0 auto;
}

.footer-copyright{
  font-size: 14px;
  font-weight: 400;
  grid-column: 3/4;
  justify-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.logo-html svg{
  margin-top: 39px;
  margin-bottom: 41px;
  fill: var(--basic-logo);
}

.logo-html:hover svg,
.logo-html:focus svg{
  fill: var(--basic-blue-light);
}

.logo-html:active svg{
  fill: var(--basic-grey-extra-light);
}

.copyright-by{
  display: inline-block;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 45px;
  margin-right: 8px;
}

.social-button{
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue-light);
}

.logo-twitter{
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logo-facebook{
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logo-youtube{
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0;
}

.social-button:hover,
.social-button:focus{
  background-color: var(--basic-blue);
}

.social-button:active{
  background-color: var(--basic-blue-dark);
  opacity: 0.3;
}

.choice-filter{
  background-color: var(--basic-grey-light);
  background-image: url("../img/filter.jpg");
  background-repeat: no-repeat;
  display: flex;

}

.choice-filter fieldset{
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 0;
  margin-top: 26px;
}

.first-filter{
  margin-left: 73px;
}

.second-filter{
  margin-left: 119px;
}

.choice-filter ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.choice-filter li{
  padding-top: 25px;
}

.choice-filter li:last-child{
  margin-bottom: 32px;
}

.daily-price{
  display: flex;
  flex-basis: 100%;
}

.price-and-show{
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 317px;
  margin-right: 73px;
}

.type-hotel h3{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.type-hotel{
  list-style: none;
  color: var(--basic-dark);
  line-height: 21px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  border: 1px solid var(--basic-extra-light);
}

.book-button{
  background-color: var(--basic-brown-light);
}

.book-button:hover,
.book-button:focus {
  background-color: var(--basic-brown);
}

.book-button:active{
  background-color: var(--basic-brown-dark);
  opacity: 0.3;
}

.rating{
  display: inline-block;
  color: var(--basic-neutral-dark);
  text-align: center;
  background-color: var(--basic-grey-light);
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 15px;
}

.choice-filter legend{
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
}

.filter-options{
  list-style: none;
  color: var(--basic-white);
  margin: 0;
}

.filter-options label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 40px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
}

.filter-input-checkbox:disabled + label::before {
  border: 2px solid var(--basic-disabled);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checked-sign.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.filter-input-checkbox:checked:disabled + label::after{
  border: 2px solid var(--basic-disabled);
}

.show-button{
  font-weight: 400;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 33px;
  padding: 0;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-button:hover{
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.watch-results{
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-right: 73px;
}

.watch-results p{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 29px;
  margin-bottom: 26px;
  margin-right: 46px;
}

.watch-results ul{
  list-style: none;
}

.range-filter{
  margin: 0;
  margin-top: 11px;
}

.range-from-to{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 36px;
  padding-top: 4px;
  padding-bottom: 6px;
  border: 2px solid var(--basic-white);
  text-align: center;
}

.range-from{
  display: flex;
}

.range-to{
  display: flex;
}

.range-filter input{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background: transparent;
  border: none;
  color: var(--basic-white);
  width: 50px;
  text-align: center;
  margin: 0;
  padding: 0;
  appearance: textfield;
}

.range-filter input::-webkit-inner-spin-button,
.range-filter input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  appearance: none;
}

.range-controls{
  margin-top: 20px;
  position: relative;
}

.range-controls .scale{
  height: 2px;
  background: var(--basic-white);
}

.range-controls .bar{
  height: 2px;
  background: var(--basic-white);
  width: 75%;
}

.range-controls .toggle{
  width: 4px;
  height: 4px;
  padding: 0;
  border: 9px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-grey-middle);
  position: absolute;
  left: 0;
  top: -8px;
  cursor: pointer;
  box-shadow: 0px 0px 5px var(--basic-grey-middle) 0.3;
}

.range-controls .toggle:hover{
  border: 10px solid var(--basic-white);
}

.range-controls .toggle-max{
  left: 254px;
}

.guideline{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.guideline li{
  display: inline-block;
  margin-top: 31px;
  margin-bottom: 36px;
  padding-right: 32px;
  font-size: 12px;
  line-height: 18px;
}

.guideline a{
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue-light);
}

.guideline a:hover,
.guideline a:focus{
  color: var(--basic-blue-light);
}

.guideline a:active{
  color: var(--basic-black);
  border-bottom: transparent;
}

.chosen{
  color: var(--basic-blue-light);
  border-bottom: none;
}

.guideline-general{
  margin: 0;
  margin-top: 31px;
  margin-bottom: 36px;
  margin-right: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.more-less{
  display: flex;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 36px;
}

.switch-up,
.switch-down{
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
}

.switch-up svg{
  fill: var(--basic-white-dark);
}

.switch-up:hover svg,
.switch-up:focus svg{
  fill: var(--basic-black);
}

.switch-up:active svg{
  fill: var(--basic-blue-light);
}

.switch-down svg{
  fill: var(--basic-white-dark);
}

.switch-down:hover svg,
.switch-down:focus svg{
  fill: var(--basic-black);
}

.switch-down:active svg{
  fill: var(--basic-blue-light);
}

.active svg{
  fill: var(--basic-blue-light);
}

.social{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.search-form{
  display: grid;
  grid-template-rows: auto 594px;
}

.hotel-information{
  display: flex;
}

.hotel-information:nth-child(2){
  border: 1px solid var(--basic-extra-light);
}

.book-conditions{
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  margin-right: auto;
  margin-bottom: 30px;
}

.name-hotel a{
  color: var(--basic-black);
}

.name-hotel{
  margin-bottom: 7px;
  margin-top: 24px;
}

.book-conditions p{
  margin: 0;
}

.position-hotel{
  display: inline-block;
  min-width: 116px;
}

.type-price{
  margin: 0;
}

.photo-hotel{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 73px;
  margin-right: 29px;
}

.rating-numbers{
  margin-right: 73px;
  margin-top: 29px;
  margin-bottom: 30px;
}

.stars{
  background-image: url("../img/star.svg");
  background-repeat: space;
  background-color: var(--basic-white);
  height: 17px;
  width: 19px;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
  margin-left: auto;
}

.stars-four{
  width: 87px;
}

.stars-three{
  width: 66px;
}

.stars-two{
  width: 42px;
}

.book-conditions .button{
  margin-top: 16px;
}

.logo-place{
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
