root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-white-dark: #CACACA;
  --basic-grey-dark: #EBEBEB;
  --basic-grey: #EEEEEE;
  --basic-grey-light: #F2F2F2;
  --basic-grey-dark: #A9A9A9
  --basic-blue-bright: #23A9E1;
  --basic-blue-light: #81B3D2;
  --basic-blue: #669EC0;
  --basic-blue-dark: #5496BD;
  --basic-neutral-dark: #666666;
  --basic-dark: #231F20;
  --basic-brown-light: #766357;
  --basic-brown: #604E43;
  --basic-brown-dark: #503E33
  --basic-brown-bright: #766458;
  --basic-dark: #333333
  --basic-background: #888888;

}

body{
  min-width: 1220px;
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-background);
  background-image: url("img/main-background.jpg");
  background-position: 0 70px;
  background-repeat: no-repeat, repeat;
}

img{
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.main-navigation-wrapper{
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: var(--basic-black);
}

.features-list{
  list-style: none;
 }

.real-features{
  list-style: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.real-features h4 {
  font-size: 21px;
  line-height: 21px;
 }

 .description {
   font-size: 21px;
   font-weight: 700;
   line-height: 26px;
   text-align: center;
 }

 .feature-item-first,
 .feature-item-second {
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  text-align: center;
 }

 .feature-item-first h3,
 .feature-item-second h3{
  font-size: 21px;
 }

.other-features{
  color: var(--basic-dark);
  background-color: var(--basic-grey);
  text-align: center;
}

.other-features h3{
  color: var(--basic-black);
  font-size: 21px;
}

.form-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
